@import "mixins";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
  font-family: 'Lato';
  color: #999;
  background: #000;
}

.box {
  display: none;
  text-align: center;
  vertical-align: middle;

  &__content {
    text-align: center;
    display: inline-block;
  }
  &__title {
    font-size: 6rem;

  }
  &__title:hover {
    transition: all 0.5s;
  }
}

a {
  text-decoration: dotted;
  color: #999;
}

a.button {
  display: inline-block;
  text-decoration: none;
  line-height: 50px;
  font-size: 1rem;
  color: #fff;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 25px;
  transition: all 0.5s;
  @include gradient(#52edc7, #5ac8fb);


}

a.button:hover {
  width: 200px;
}

.fader {
  display: table-cell;
  @include fadIn(2s);
}