@import "mixins";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: $gray-color;
  background: rgb(238, 238, 238);
  @include noselect;
}

.box {
  display: none;
  text-align: center;
  vertical-align: middle;

  &__content {
    text-align: center;
    display: inline-block;
  }
  &__title {
    font-size: 6rem;
    font-weight: 100;

  }
  &__title:hover {
    transition: all $transition-duration;
  }
  & img{
    border-radius: 100%;
  }
}

a {
  text-decoration: dotted;
  color: $gray-color;
  font-weight: 400;

  &.button {
    display: inline-block;
    text-decoration: none;
    line-height: 50px;
    margin-top: 20px;
    width: 150px;
    height: 50px;

    &:hover {
      width: 200px;
    }
  }
}

.button-primary {
  border: none;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  transition: all $transition-duration;
  @include gradient(rgb(82, 237, 199), rgb(90, 200, 251));
}

.fader {
  display: table-cell;
  @include fadeIn(2s);
}

.footer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: $social-icon-size;
  padding: 10px 0 10px 10px;
  text-align: right;
  & ul {
    margin: 0;
    padding: 0;
  }
  & li {
    display: inline-block;
    list-style: none;
    margin-right: 10px;
    line-height: $social-icon-size;
    text-align: center;
    border-radius: 4px;

    & a {
      &.twitter:hover {
        background-color: rgb(85, 172, 238);
      }
      &.facebook:hover {
        background-color: rgb(59, 89, 152);
      }
      &.behance:hover {
        background-color: rgb(23, 105, 255);
      }
      &.dribbble:hover {
        background-color: rgb(234, 76, 137);
      }
    }
  }
  & a.share {
    margin: 0;
    padding: 0;
    width: $social-icon-size;
    height: $social-icon-size;
    background-color: $gray-color;
    border-radius: 3px;
    font-size: 22px;
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: background $transition-duration;
  }
}